html,body{
	height: 100%;
	width:100%;
}

@import "bourbon";


#firstSection{
	height: 100%;
	background-image:url(src/homepage_banner.png);
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
 	background-size: 100% 100%;
}
 
#mainHeading{
	position: absolute;
	height: 78px;
	margin: auto;
	width: 100%;
	top:40%;
	font-family: Vidaloka;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 78px;
	text-align: center;
	color: #FFFFFF;
}

#mainHeadingOverlap{
	position: absolute; 
	top: 0; 
	width: 	100%;
	color:#E9BC83;
	font-family: July it;
	font-style: normal;
	font-weight: normal;
	font-size: 70px;
	line-height: 144px;
	transform: rotate(-3.6deg);
}


.headBtn{
	
	padding:1% 2.5%;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: transparent;
	color: #E9BC83;
	border: 1px solid #E9BC83;
	box-sizing: border-box;
	

}
#downloadBtn{
	left: 32%;
	position: absolute;
	top:62%;
}
#followBtn{
	left: 54%;
	top:62%;
	position: absolute;
}

.secondSection{
	height: 100%;
	background-color:#030D20;
}

#heading1{
	height: 71px;
	padding-top: 5%;
	margin-left: auto;
  	margin-right: auto;
	top:115%;
	font-family: Vidaloka;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 78px;
	text-align: center;
	text-transform: uppercase;
	/* #E9BC83 */
	color: #E9BC83;
}
#teaserVid{
	position: absolute;
	top:125%;
	left:20%;
	width: 60%;
  	height: auto;
}
#monchou1{
	position: absolute;
	top:136%;
	left:67%;
	transform: rotate(3.81deg);
}

#weAreHere{
	height:90%;
	top:208%;
	width:auto;
	position: absolute;

}

#weAreHereSec{
	background-color: black;
	width:45%;
	position: absolute;
	left:50%;
	top:216%;
	height:72%;
	padding-left: 5%;
	padding-top:5%;
}

#smolHeading{
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;

	/* #E9BC83 */
	text-transform: uppercase;
	color: #E9BC83;
}

#biggHeading{
	font-family: Abril Fatface;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 67px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #E9BC83;
	margin-top:0;
}

#smolText{
	font-family: Karla;
	width:60%;
	font-style: normal;
	font-size: 15px;
	line-height: 18px;

	color: #FFFFFF;
}
#seeMoreBtn{
	margin-top: 5%;
	padding:2.5% 6%;
}

#downloadNowBtn{
	margin-top:;
}

/* for testing : basic background colors */
.test-bg
{
	background-color : #0B2048;
}


/* containers */
.pos-container {
    display: flex;
    align-items: center
}

/* font handling here */ 

.Karla
{
	font-family: Karla;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 18px;
}

/* navbar handling here */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}


/* ------------------------------------ */

/* for left col padding */
/* 0115 */

.col-space {
position: absolute;
width: 684px;
height: 864px;
left: 32px;
top: 0px;
}

.sideGroup
{
	position: absolute;
	width: 60.82px;
	height: 558.88px;
	left: 86.3px;
	top: 194.03px;
}

/* short bar on the side of the page */
.shortVector
{
	position: absolute;
	width: 0px;
	height: 90px;
	left: 119.58px;
	top: 281.25px;

	border: 1px solid #FFFFFF;
}


/* new test for line + rotate text */
.wrapper {
    position: relative;
    width: 250px;
    height: 300px;
    border: 1px dashed #ccc;
    margin: 10px;
}

.line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #ccc;
    z-index: 1;
}

.wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

.word {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font-family: Karla;
    background: transparent;
} 

/* side div box for vertical things */
.sideBox {  
position: absolute;
width: 60.82px;
height: 558.88px;
left: 86.3px;
top: 194.03px;
}

/* vertical line */
.verticalLine {
position: absolute;
width: 0px;
height: 70px;
left: 119.58px;
top: 281.25px;

border: 1px solid #FFFFFF;
}


/*left number handling */
.mainNumber {
position: absolute;
width: 60.82px;
height: 66.56px;
left: 86.3px;
top: 194.03px;

font-family: Vidaloka;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}

/* 7-1 error rotate handling */
.systemRotate {
position: absolute;
width: 198.54px;
height: 16.07px;
left: 111.55px;
top: 570.44px;

font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;

transform: rotate(-90deg);
}

/* backAlley */
.backAlley {
background-image: url(src/backAlley.png);
padding-top: 0;
margin: 0;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
overflow: hidden;

mix-blend-mode: color-dodge;
opacity: 0.5;
}

/* all navbar handling */


.navbar {
    width: 100%;
    background-color: transparent;
    transition: background-color .2s ease-out;
}

.fixed-top.scrolled {
    background-color: #030D20 !important;
    transition: background-color .2s linear;
}

/* For navbar spacing */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;  
}


.theGameTest { 
background-image: url(src/mainTitleArt.png) !important;
padding-top: 0;
margin: 0;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
overflow: hidden;  }

.theAlley {
	background-image: url(src/backAlley.png) !important;
	padding-top: 0;
	margin: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

 /* -------------------------------------------------------------- */
 /* padding handling */

.pd-89 {
 padding-bottom: 5.563rem !important
}

.pd-30-t {
    padding-top: 1.875rem !important
}

.pd-30 {
    padding-bottom: 1.875rem !important
}

.relativeImage {
	position: relative;
}


/*button*/
.btnGame {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.downloadNow {
  border-color: #fff;
  color: #fff;
}

