#upFirstSec{
	background-color:#030D20;
	padding:10%;
}
#upSecondSec{
	background-color:#030D20;
	padding:5% 0;
}
body{
	width:100%;
	margin: 0;	
}
#smallHeading{
	font-family: Karla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#bigHeading{
	font-family: Vidaloka;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#text{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	color: 	white;
	margin-top: 6%;
}

#smallText{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	color: 	white;
}

.commonBtn{
	padding:1% 2.5%;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: transparent;
	color: #E9BC83;
	border: 1px solid #E9BC83;
	box-sizing: border-box;
}

#mainTitle{
	display: flex;
}
#mainText{
	margin-top: 7%;
	margin-left:5%;
}
#demoContest{
	width:60%;
	margin-left: 30%;
	height:auto;
}

#seeMoreUpdates{
	padding:2.5% 5%;
}

#myUL{
	list-style-type: none;
	padding: 0;
  	margin: 0;
  	text-align: center;
}
#myUL li{
	display: inline;
	padding-bottom:8px;
}
#myUL li a {
	padding: 1.5%; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:white;
 }
#myUL li a:hover{
	font-size: 22px;
}
 .blogMenuActive{
 	/*border-bottom: 1px solid white;*/
 	text-decoration: underline;
 }


/* For navbar spacing */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}