#upFirstSec{
	background-color:#030D20;
	padding:10% 0;
}
#upSecondSec{
	background-color:#030D20;
	padding-bottom: 5%;
}
body{
	width:100%;
	margin: 0;	
}
#smallHeading{
	font-family: Karla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#bigHeading{
	font-family: Vidaloka;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#text{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	color: 	white;
	margin-top: 6%;
}

#smallText{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	color: 	white;
}

.commonBtn{
	padding:1% 2.5%;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: transparent;
	color: #E9BC83;
	border: 1px solid #E9BC83;
	box-sizing: border-box;
}

#mainText{
	margin-top: 15%;
	margin-right: 3%;
}
#demoContest{
	width:100%;
}

#seeMoreUpdates{
	padding:2.5% 5%;
}

#myUL{
	list-style-type: none;
	padding: 0;
	text-align: center;
}
#myUL li{
	margin-left: auto;
	margin-right:auto;
	display: inline;
	padding-bottom:8px;
}
#myUL li a {
	padding: 1.5%; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:white;
}
#myUL li a:hover{
	font-size: 22px;
}
.blogMenuActive a{
	/*border-bottom: 1px solid white;*/
	color:#E9BC83 !important;
}
#myInput{
	background-color: transparent;
	border:none;
	border-bottom:1px solid white;
	margin-left: 10%;
	color:white;
	padding: 12px 20px 5px 40px; 
	background-image: url('src/searchicon.png'); 
	background-position: 10px 12px;
	background-repeat: no-repeat; /* Do not repeat the icon image */

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	font-size: 15px;
	line-height: 18px;
	opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
	font-size: 15px;
	line-height: 18px;
	opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: white;
	font-size: 15px;
	line-height: 18px;
	opacity: 0.5;
}
#blogPosts{
	display: inline-flex;
	margin-left: 5%;
	margin-right: 5%;
}
#blogPosts li{
	margin-top: 2%;
	margin-right: 2%;
	margin-left:1%;
	width: 25%;
	background-color: white;
}

.indBlog{
	background-color: white;
	width:100%;
	padding-bottom: 20px;
}
.indBlogPic{
	width:100%;
	height:auto;
}
.indBlog a{
	text-decoration: none;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: #030D20;
}
.indBlog a:hover{
	text-decoration: underline;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: #030D20;
}
.indBlog p{
	font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 21px;

color: #000000;
}
.indBlog div{
	padding:6%;
	
}
/* For navbar spacing */
.navbar-nav > li{
	padding-left:30px;
	padding-right:30px;
}