#upFirstSec{
	background-color:#030D20;
	padding:10%;
}
body{
	width:100%;
	margin: 0;	
}
#smallHeading{
	font-family: Karla;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#bigHeading{
	font-family: Vidaloka;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 87px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
}

#text{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.2em;
	color: 	white;
}

#smallText{
	font-family: Karla;
	font-style: normal;
	font-size: 20px;
	line-height: 23px;
	color: 	white;
}

.commonBtn{
	padding:1% 2.5%;
	font-family: Karla;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: transparent;
	color: #E9BC83;
	border: 1px solid #E9BC83;
	box-sizing: border-box;
}

#mainTitle{
	display: flex;
}
#mainText{
	margin-top: 7%;
	margin-left:5%;
}
#demoContest{
	width:60%;
	margin-left: 30%;
	height:auto;
}

#seeMoreUpdates{
	padding:2.5% 5%;
}

/* For navbar spacing */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
